.callout {
    background-color: #808080;
    padding: 1em;
    font-size: .em;
    line-height: 1.5;
    color:21221A;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}
body {
   background-color: antiquewhite;
}