
.container {
  width: 45%
}

header img,
.chart img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.gif-container img {
  display: block;
  margin: 0 auto;
  width: 85%;
  transform: translateX(5.5px);
}

.banner {
  background-color: #090922 !important;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 85%;
  max-height: 600px;
  transform: translateX(113.5px) translateY(-10px);
}

.banner h1 {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  letter-spacing: 1.25px;
}

.banner h2 {
  font-weight: 10;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
}

.banner p {
  font-size: .75em !important;
  margin: 5px 0;
}

.slang-section {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.birthtitle {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.southertitle {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.evolutiontitle {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.southernsound {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.bannerTwo {
  display: flex;
  background-color: #090922;
  color: white;
  padding: 40px;
  gap: 20px;
  align-items: center;
  width: 85%;
  transform: translateX(113.5px) translateY(-10px);

}

.maptext {
  font-size: .75em !important;
  transform: translateX(200px);
  max-width: 230px;
}

.img-fluid {
  transform: translateX(285px);
  height: 300px;
  max-width: 600px
}

.evolutionSection {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.timeline-banner {
  background-color: #090922 !important;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 85%;
  max-height: 500px;
  transform: translateX(113.5px) translateY(10px);
}

.lifeEvent {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.lifeEventSection {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.andre-title {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.andre-part {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.effect-title {
  margin: 0 auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em !important;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}

.effect-part {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  line-height: 1.8;
}